@media (max-width: 660px) {
  body {
    .intro {
      .top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          &__img {
            padding-top: 0px;
          }
    
          &__content {
            max-width: 100%;
    
            h1 {
              max-width: 60%;
            }

            .top__text {
              max-width: 55%;
              text-align: center;
            }

            a {
              max-width: 40%;
            }
          }

          &__button {
            margin-bottom: 30px;
          }
      }
    }

    .stage {
      &__wrap {
        .stage__text {
          max-width: 85%;
          padding-left: 15px;
        }

        .stage__list {
          img {
            max-width: 12%;
          }
          }
      }
    }

    .modal {
      .modal__wrap {
          .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 20px;
      
            &__input {
              max-width: 100%;
      
              & h3 {
                max-width: 100%;
                display: block;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin: 0 auto;
      
              }
            }
          }
      
          .modal__button {
            max-width: 75%;
            padding: 25px 0px 0px 0px;
          }

          & img {
            max-width: 80%;
          }
        }
    }

    .footer {
      img {
        max-width: 70px;
      }
    }
  }
}