@media (max-width: 1024px) {
  body {
        
    .intro {
    
        .top__content h1 {
          font-size: 35px;
          padding-bottom: 25px;
          max-width: 80%;
          line-height: 45px;
        }
    
        .top__img {
          padding-top: 15px;
        }

        .top__text {
          font-size: 18px;
          margin-bottom: 20px;
          max-width: 80%;
        }

        .top__content a {
          max-width: 60%;
          padding: 16px 20px;
        }
    }
    
    .benefits {
      &__wrap {
        padding-top: 50px;
      }
        
    }
    
    .stage {
        &__wrap {
          .stage__list {
            img {
              max-width: 8%;
            }
          }
    
          .stage__text {
            max-width: 50%;
          }
    
          .stage__img__right {
            padding: 35px 200px 35px 0;
          }
    
          .stage__img__left {
            padding: 35px 0 35px 200px;
          }
        }
    }
    
    .modal {
        & .form {
          padding: 40px;
    
          &__input {
            max-width: 50%;

            & h3 {
              font-size: 18px;
            }
    
            & label {
              font-size: 15px;
            }
    
            & input {
              font-size: 15px;
              padding: 10px 10px;
            }
    
            & select {
              font-size: 15px;
              padding: 10px 10px;
            }

            & input:not(:last-child) {
              margin-bottom: 15px;
            }
          }
    
          .modal__button {
            max-width: 50%;
            padding-left: 40px;
    
            img {
              max-width: 70%;
            }
    
            & button {
              max-width: 70%;
              padding: 14px 14px;
              font-size: 15px;
            }
          }
        }
    }
  }
    
}