.portfolio {
  background: $colorBlack;

  &__wrap {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 50px;

    // & img {
    //   max-width: 500px;
    //   box-shadow: 6px 6px 30px rgba(125, 225, 231, 0.42);
    // }

    .portfolio__wrap__block:not(:last-child) {
      padding-bottom: 45px;
    }

    .portfolio__wrap__block {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .portfolio__wrap__block a img{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      max-width: 80%;
      box-shadow: 6px 6px 30px rgba(125, 225, 231, 0.42);
    }

    .portfolio__button {
      background: $mainColor; //rgb(142, 40, 101)
      box-shadow: 6px 6px 30px rgba(125, 225, 231, 0.42);
      border-radius: 9px;
      padding: 8px 30px;
      color: $colorBlack; //#e7e7e7f1
      font-weight: 520;
      font-size: 24px;
      line-height: 41px;
      border: none;
    }
  
  }
}