
::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
}

.price {
  background: $colorBlack;

  &__wrap {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  &__wraper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    
  }

  &__wrap__list:not(:last-child) {
    padding-bottom: 30px;
  }

  &__wrap__list {
    display: flex;
    align-items: center;
    justify-content: left; 

    & p {
      padding-left: 30px;
      padding-top: 10px;
      color: rgba(255, 255, 255, 0.547);
    }

    & details {
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.04em;
    
      & summary {
        cursor: pointer;
        margin-left: 30px;
      }

      & h4 {
        font-size: 14px;
        // font-weight: 400;
      }
    }

    .open {
      padding-left: 10px;
    }
  }

  &__text {
    text-align: center;

    & h3 {
      padding-bottom: 20px
    }
  }

  &__img {
    @include block-center;
    margin: 50px 0;
  }

  .price__desc {
    
      // @include block-center;
    max-width: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    
  }
}

